.btn-downloader {
    position: absolute;
    left: 20px;
    top: 80px;
    z-index: 100000;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #108cff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}